<div class="container mt-4 mb-4">
  <div class="row mx-auto">
    <div class="col-md-12">
      <section class="headline mb-3">
        <h3>注文履歴一覧</h3>
      </section>
      <div class="order-table">
        <table class="table">
          <thead>
            <tr class="table-secondary">
              <th>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払い金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td class="text-left">
                <%= order.postal_code %>
                <%= order.address %>
                <%= order.send_name %>
              </td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %>
                <% end %>
              </td>
              <td>
                <%= order.total_price.to_s(:delimited)  %>
              </td>
              <td>
                <%= order.status %>
                </td>
              <td>
                <%= link_to "注文詳細", order_path(order), class: "btn btn-success" %>
              </td>
             </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
