<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3>商品一覧</h3>
      <div class='mb-3 text-right'>
        <button type="button" class="btn btn-light shadow-sm rounded-circle p-0" style="width:2rem;height:2rem;">
          <%= link_to "＋", new_admins_item_path, class:"no-underline" %>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <tr class="table-active">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル </th>
          <th>ステータス</th>
        </tr>
        <tr>
          <%= @items.each do |item| %>
            <td><%= item.id %></td>
            <td>
              <%= link_to item.name, admins_item_path(item.id) %>
            </td>
            <td><%= (item.price).to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td><%= item.is_active %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto"><%= paginate @items %></div>
  </div>
</div>