<div class="container pt-5">
  <div class="card rounded mb-3 mx-auto">
  <div class="row g-0">
    <div class="col-md-5" style="height: 380px; width: 450px;">
      <%= attachment_image_tag @item, :image, :fill, 450, 380, fallback: "no_image.jpg", size:'450x380', class: "card-img-left" %>
    </div>
    <div class="col-md-7" style="height: 380px;">
      <div class="card-body pt-5">
      <div>
        <h3 class="card-title font-weight-bold pb-1"><%= @item.name %></h3>
        <p>[ 商品概要 ]<br><%= @item.introduction %></p>
      </div>
      <div class="pt-3">
        <div class="pb-3 pt-4">
          <strong class="h3"><%= ((@item.price * 1.10).floor).to_s(:delimited, delimiter: ',') %>円</strong>
          <span class="text-muted">(税込)</span>
        </div>
        <div>
          <%= form_with model: @cart_item, url: cart_items_path(item_id: @item), method: :post, local:true do |f| %>
            <%= f.select :quantity, [['1個', 1], ['2個', 2], ['3個', 3], ['4個', 4], ['5個', 5], ['6個', 6], ['7個', 7], ['8個', 8], ['9個', 9]], class: "btn btn-light dropdown-toggle" %>
            <span class="pl-4"><%= f.submit 'カートに入れる', class: 'btn btn-primary btn-success' %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>